body{
    background-color: gray;
    font-size: x-large;
}

div,form{
    padding-top: 1%;
    text-align: center;
}

input,button,a{
    font-size: x-large;
    border-color: black;
    border-width: 3px;
}

textarea {
    width: 50%;
    height: 200px;
}

#indexdiv{
    padding-top: 15%;
}
