body{
    background-color: gray;
    font-size: x-large;
}

form{
    padding-top: 10%;
    text-align: center;
}

input,button,a{
    font-size: x-large;
    border-color: black;
    border-width: 3px;
}
